In [1]:
import numpy as np
import pandas as pd

In [2]:
df1=pd.read_csv('credit.csv')
df1.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee

In [3]:
df1.credit_history.value_counts()

repaid                    530
critical                  293
delayed                    88
fully repaid this bank     49
fully repaid               40
Name: credit_history, dtype: int64

In [9]:
df1.groupby(by='purpose').apply(lambda df: df.amount.max())

purpose
business               15945
car (new)              14896
car (used)             12976
domestic appliances     3990
education              12612
furniture              14179
others                 18424
radio/tv               15653
repairs                11998
retraining              3447
dtype: int64

In [3]:
expected = """d,1
c,2
a,3
e,4
f,5
b,6""".split(
    "\n"
)

In [6]:
len(expected)

6

In [7]:
result="""d,1
c,2
a,3
e,4
f,5
b,6"""

In [10]:
lines = [line.replace("\n", "") for line in result.split("\n")]

In [11]:
lines

['d,1', 'c,2', 'a,3', 'e,4', 'f,5', 'b,6']